{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- banner -->
{{ if $data.homepage.banner.enable }}
<section class="section pb-0" id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with $data.homepage.banner }}
        <h1 class="display-1 font-weight-bold title mb-4">{{ .title | markdownify }}</h1>
        <p class="h3 mb-5">{{ .subtitle | markdownify }}</p>
        {{ end }}
        {{ if $data.homepage.banner.social }}
        <ul class="list-inline social-icons">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{.icon }}"></i></a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /banner -->

<!-- about -->
{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section class="section pb-0" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2">
        <img src="{{ .image | absURL }}" class="img-fluid rounded-lg mb-4" alt="">
      </div>
      <div class="col-lg-8">
        {{with .title}}<h2>{{ . | markdownify}}</h2>{{ end }}
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

<!-- education -->
{{ if $data.homepage.education.enable }}
{{ with $data.homepage.education }}
<section class="section pb-0" id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>{{ .title | markdownify }}</h2>
      </div>
      <div class="col-lg-8">
        <div class="row justify-content-around">
          {{ range .education_item }}
          <div class="col-lg-5 col-sm-6 mb-4">
            <h4 class="title-border">{{ .name }}</h4>
            <p>{{ .duration }}
            <br>{{ .academy }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /education -->

<!-- Expertise -->
{{ if $data.homepage.expertise.enable }}
{{ with $data.homepage.expertise }}
<section class="section pb-0" id="expertise">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>{{ .title | markdownify }}</h2>
      </div>
      <div class="col-lg-8">
        <div class="row justify-content-around">
          {{ range .expertise_item }}
          <div class="col-lg-5 col-sm-6 mb-4">
            <h4 class="title-border">{{ .name }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Expertise -->

<!-- publications -->
{{ if $data.homepage.publication.enable }}
<section class="section pb-0" id="publication">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2>{{ $data.homepage.publication.title | markdownify }}</h2>
      </div>
      {{ range first 3 (where .Site.RegularPages "Section" "==" "publications" )}}
      <div class="col-md-12 col-sm-6 mb-4">
        {{ .Render "publication" }}
      </div>
      {{ end }}
      <div class="col-12 text-center mt-5">
        <a href="{{ `publications` | absLangURL }}/" class="btn btn-primary btn-style">{{ i18n "all_publications"}}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /publications -->

<!-- talks -->
{{ if $data.homepage.talk.enable }}
<section class="section pb-0" id="talk">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2>{{ $data.homepage.talk.title | markdownify }}</h2>
      </div>
      {{ range first 4 (where .Site.RegularPages "Section" "==" "talks") }}
      <div class="col-sm-6 mb-4">
        {{ .Render "talk" }}
      </div>
      {{ end }}
      <div class="col-12 text-center mt-5">
        <a href="{{ `talks` | absLangURL }}/" class="btn btn-primary btn-style">{{ i18n "all_talks" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /talks -->

<!-- projects -->
{{ if $data.homepage.project.enable }}
<section class="section pb-0" id="project">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2>{{ $data.homepage.project.title | markdownify }}</h2>
      </div>
      {{ range first 3 (where .Site.RegularPages "Section" "==" "projects") }}
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ .Render "project" }}
      </div>
      {{ end }}
      <div class="col-12 text-center mt-5">
        <a href="{{ `projects` | absLangURL }}/" class="btn btn-primary btn-style">{{ i18n "all_projects" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /projects -->

<!-- blog -->
{{ if $data.homepage.blog.enable }}
<section class="section pb-0" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2>{{ $data.homepage.blog.title | markdownify }}</h2>
      </div>
      {{ range first 4 (where .Site.RegularPages "Section" "==" "blogs") }}
      <div class="col-sm-6 mb-4">
        {{ .Render "blog" }}
      </div>
      {{ end }}
      <div class="col-12 text-center mt-5">
        <a href="{{`blogs` | absLangURL }}/" class="btn btn-primary btn-style">{{ i18n "all_blog"}}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->

<!-- contact -->
{{ if or $data.homepage.contact_form.enable $data.homepage.contact_info.enable}}
<section class="section pb-0" id="contact">
  <div class="container">
    <div class="row">
      {{ if $data.homepage.contact_form.enable }}
      {{ with $data.homepage.contact_form }}
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h2 class="mb-4 mb-lg-5">{{ .title | markdownify }}</h2>
        <form action="{{ .contact_form_action }}" method="POST">
          <div class="form-group mb-4">
            <label for="name">{{ .name_label }}</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="{{ .name_label }}">
          </div>
          <div class="form-group mb-4">
            <label for="email">{{ .email_label }}</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="{{ .email_label }}">
          </div>
          <div class="form-group mb-4">
            <label for="message">{{ .textarea_label }}</label>
            <textarea class="form-control" id="message" name="message" placeholder="{{ .textarea_label }}"></textarea>
          </div>
          <button class="btn btn-primary" type="submit" value="send">{{ .button_label }}</button>
        </form>
      </div>
      {{ end }}
      {{ end }}

      {{ if $data.homepage.contact_info.enable }}
      {{ with $data.homepage.contact_info }}
      <div class="col-lg-5 offset-lg-1">
        <h2 class="mb-4 mb-lg-5">{{ .title }}</h2>
        <p class="mb-4 mb-lg-5">{{ .content | markdownify }}</p>
        <ul class="list-unstyled">
          {{ range .contact_item }}
          <li class="d-flex mb-4">
            <i class="{{ .icon }} h4 text-primary mr-3 mt-1"></i>
            <p class="mb-0">{{ .id }}</p>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /contact -->

{{ end }}